<%= stylesheet_link_tag "form", :media => "all" %>
<ul>
  <li> <b>User_name:- <%= current_user.name %> </b></li>
  <li> <b>User_skypeId:- <%= current_user.skype_id %> </b></li>
  <li> <b>User_Email-address:- <%= current_user.email %></b> </li>
</ul>

</p>
<table>
  <tr>
    <th>Address</th>
    <th>Phone_number</th>
    <th colspan="3">Actions</th>
  </tr>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.address %></td>
      <td><%= profile.phone_number  %></td>
      <td><%= link_to 'Show',profile_path(profile)%></td>
      <td><%= link_to 'Edit',edit_profile_path(profile)%></td>
      <td ><%= button_to 'delete', profile_path(profile), method: :delete, :confirm => :"Are you sure" %> </td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Create New Profile', new_profile_path %></td> 
</p> 