<!DOCTYPE html>
<html>
<head>
  <title>MyFirstTest</title>
</head>
<body style="background-color:lightblue ">
  <!--<center><%= image_tag "ppp.jpeg", :size => "400x200" %> </center>-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.name %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  <%= yield %>
</body>
</html>